<body id="home" class="nav-trans animate-nav">

    <%= render 'slider' %>
    <div class="container">
	  <div class="col-sm-9">
	    <%= render 'upcoming' %>
        <%= render 'top_rated' %>
        <%= render 'most_viewed' %>
      </div>

		<!-- latest news-->
					<div id="news-container" class="row">
				<h2 class="heading">latest news</h2>

				<ul class="list-unstyled row">

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/210-first-trailer-for-greg-mottolas-comedy-keeping-up-with-the-joneses"><img data-original="http://media2.firstshowing.net/firstshowing/img9/KeepingupwithJonesesMaintrailertsr1.jpg" alt="First Trailer for Greg Mottola's Comedy 'Keeping Up with the Joneses'" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/210-first-trailer-for-greg-mottolas-comedy-keeping-up-with-the-joneses">First Trailer for Greg Mottola's Comedy 'Keeping Up with the Joneses'</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/211-watch-official-uk-trailer-for-the-girl-with-all-the-gifts-adaptation"><img data-original="http://media2.firstshowing.net/firstshowing/img9/girlwithallthegiftsnewtrailerNewtsr05.jpg" alt="Watch: Official UK Trailer for 'The Girl With All The Gifts' Adaptation" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/211-watch-official-uk-trailer-for-the-girl-with-all-the-gifts-adaptation">Watch: Official UK Trailer for 'The Girl With All The Gifts' Adaptation</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/212-tom-cruise-returns-in-first-trailer-for-jack-reacher-never-go-back"><img data-original="http://media2.firstshowing.net/firstshowing/img9/TomCruiseETJackReachersequelTsr2.jpg" alt="Tom Cruise Returns in First Trailer for 'Jack Reacher: Never Go Back'" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/212-tom-cruise-returns-in-first-trailer-for-jack-reacher-never-go-back">Tom Cruise Returns in First Trailer for 'Jack Reacher: Never Go Back'</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/213-luke-treadway-as-james-bowen-in-a-street-cat-named-bob-trailer"><img data-original="http://media2.firstshowing.net/firstshowing/img9/StreetcatnamedbobUKtrailerSelftsr2.jpg" alt="Luke Treadway as James Bowen in 'A Street Cat Named Bob' Trailer" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/213-luke-treadway-as-james-bowen-in-a-street-cat-named-bob-trailer">Luke Treadway as James Bowen in 'A Street Cat Named Bob' Trailer</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/214-must-watch-full-theatrical-trailer-for-nate-parkers-birth-of-a-nation"><img data-original="http://media2.firstshowing.net/firstshowing/img9/BirthofanationNateparkernewtrailertsr1.jpg" alt="Must Watch: Full Theatrical Trailer for Nate Parker's 'Birth of a Nation'" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/214-must-watch-full-theatrical-trailer-for-nate-parkers-birth-of-a-nation">Must Watch: Full Theatrical Trailer for Nate Parker's 'Birth of a Nation'</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/215-watch-5minute-extended-preview-for-gary-ross-free-state-of-jones"><img data-original="http://media2.firstshowing.net/firstshowing/img9/FreestateofJonesMconEyesExtendtsr02.jpg" alt="Watch: 5-Minute Extended Preview for Gary Ross' 'Free State of Jones'" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/215-watch-5minute-extended-preview-for-gary-ross-free-state-of-jones">Watch: 5-Minute Extended Preview for Gary Ross' 'Free State of Jones'</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/216-first-look-new-batmobile-from-zack-snyders-justice-league-movie"><img data-original="http://media2.firstshowing.net/firstshowing/img9/BatmobileJusticeleaguebigimageTsr3d.jpg" alt="First Look: New Batmobile from Zack Snyder's 'Justice League' Movie" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/216-first-look-new-batmobile-from-zack-snyders-justice-league-movie">First Look: New Batmobile from Zack Snyder's 'Justice League' Movie</a></div>
							</div>
						</li>

						<li>
							<div class="news-item col-sm-3">
								<a href="http://mercury.vebto.com/news/217-watch-new-featurette-on-recording-the-score-for-swiss-army-man"><img data-original="http://media2.firstshowing.net/firstshowing/img9/SwissarmymanScorefeaturetteTsr02b.jpg" alt="Watch: New Featurette on Recording the Score for 'Swiss Army Man'" class="img-responsive"></a>
                                <div class="title"><a href="http://mercury.vebto.com/news/217-watch-new-featurette-on-recording-the-score-for-swiss-army-man">Watch: New Featurette on Recording the Score for 'Swiss Army Man'</a></div>
							</div>
						</li>
									</ul>
			</div>
				<!-- /latest news-->

	</div>
</section>

<!-- video modal -->
<div class="modal fade" id="vid-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<button type="button" class="modal-close" data-dismiss="modal" aria-hidden="true">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
            </button>
            <div class="modal-body"> </div>
        </div>
     </div>
</div>
<!-- /video modal -->

            <footer id="footer">
            <section id="top" class="clearfix">

                <div class="col-sm-11 col-md-8 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
                    <div class="footer-heading clearfix hidden-xs">
                            <a href="http://mercury.vebto.com">
                                <img src="http://mercury.vebto.com/assets/images/logo.png">
                            </a>
                        <h2 class="col-md-9 col-sm-8"> - Ultimate Movie and TV Database</h2>
                    </div>

                    <section id="index">
                        <ul class="list-inline list-unstyled">
                            <li><a href="http://mercury.vebto.com/feed/new-and-upcoming">Movies Feed</a></li>
                            <li><a href="http://mercury.vebto.com/feed/news">News Feed</a></li>
                            <li><a href="http://mercury.vebto.com/people">People</a></li>
                            <li><a href="http://mercury.vebto.com/series">Series</a></li>
                            <li><a href="http://mercury.vebto.com/movies">Movies</a></li>
                            <li><a href="http://mercury.vebto.com/news">News</a></li>
                        </ul>
                    </section>

                    <div class="home-social">
                        <ul class="list-unstyled list-inline social-icons">
                                                                                                                                        </ul>
                    </div>
                </div>
            </section>
            <section id="bottom" class="clearfix">
                <div class="col-sm-6" id="copyright">Copyright &#169; <span class="brand">MTDb</span> 2016</div>
                <ul class="list-unstyled list-inline col-sm-6" id="legal">
                                        <li><a href="http://mercury.vebto.com/privacy-policy">Privacy Policy</a></li> |
                                                            <li><a href="http://mercury.vebto.com/tos">Terms of Service</a></li> |
                            <li><a href="http://mercury.vebto.com/contact">Contact Us</a></li>
</ul>            </section>
        </footer>

    <div id="main-loading-outter">
        <div id="main-loading-container">
            <div class="loader" id="main-spinner">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
    </div>
